<!DOCTYPE html>
<html lang="en">
<head>

	<title>Admin Dashboard</title>

</head>
<body>
	<div class="box">
		<div class="logout">
		<a href ="{{ url_for('logout')}}" class='logout-btn'>Logout</a>
		</div>
		<h1> Hi {{name}}! Welcome to the Admin Dashboard</h1>
		<div class="session">
			<h2>Categories</h2>

		<table class="product_table">	
			<tr>
				<th>Product</th>
				<th>Rate</th>
				<th>Quantity</th>
				<th>Unit</th>
				<th>Mf Date</th>
				<th>Expiry Date</th>
				<th>Actions</th>
			</tr>	

</body>
</html>

cd <i class="fa fa-desktop" aria-hidden="true"></i>